[submodule "dotty"]
	path = dotty
	url = git@github.com:vibhavp/dotty.git
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:azizmb/emacs.d.git
[submodule "thinklight"]
	path = thinklight
	url = git@github.com:jeremija/thinklight.git
